*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
nav{
    text-align: right;
    padding: 10px 10px 10px 400px;

}

nav > a{
    color:rgb(43, 25, 51);
    font-weight: bolder;
    text-decoration: none;
    margin-right: 35px;
    
}
nav > a:hover{
    text-decoration: underline;
}

.header-count{
    position:sticky;
    background-color: rgb(222, 188, 255);
    height: 15%;
}

.xd{
    padding: 100px 0px 0px 0px;
    font-size: 30px;
    color:#45415e;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 300;
}
header{
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    background: rgb(227, 220, 241);
    background: -webkit-linear-gradient(to right, #2b4251b3, hsl(8deg 69% 19% / 56%)),url(../assents/images/fondo4.jpg);
    background: linear-gradient(to right, #2b4251b3, hsl(8deg 69% 19% / 56%)),url(../assents/images/fondo4.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: center;
}
.text-header{
    padding: 40px 100px 35px 100px;
}
.text-header h1{
    font-size: 90px;
    font-weight: 400;
    color: rgb(236, 225, 225);
    text-align: center;
}
.text-header h3{
    font-size: 30px;
    font-weight: 400;
    color: rgb(226, 220, 243);
    text-align: center;
}
.container-about-us{
    width: auto;
}
.image-about-us{
    position:absolute;
    left: 8%;
    width: 30%;
    height: 50%;
}
.content-text{
    width: 80%;
    padding-left: 40%;
    
}
.content-text h3{
    margin-bottom: 25px;
}
.content-text h3 span{
    background: #5d4094;
    color:rgb(18, 14, 22);
    width: 30px;
    height: 30px;
    display: -moz-grid-line;
    border-radius: 30%;
    text-align: left;
    padding: 3px;
    box-shadow:  0 0 6px 0 rgba(44, 30, 66, 0.5);
    margin-right: 10px;
}
.content-text p{
    padding: 0px 0px 30px 30px;
    text-align: justify;
    font-weight: 300;
}
.galery{
    display: flex;    
}
.text-galery{
    width: 100%;
    text-align: center;
    font-size: 35px;
}
.galery-about{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}
.content-galery{
    margin: auto;
    width: 50%;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
    background: #FFF;
    overflow:visible;
    position: relative;
    bottom: 50px;
    
}
#images{
        width: 100%;
        height: 350px;
        margin: auto;    
}
footer{
    background-color: rgb(210, 174, 245);
    width: 100%;
    height: 100%;
    color: rgb(99, 25, 168);
}
#first{
    text-align: left;
    padding: 50px 50px 50px 35px;
    position: absolute;
}
#second{
    padding: 20px 20px 20px 600px;
    text-align: center;
    position: absolute;
}
.rigth{
    padding: 20px 20px 20px 20px;
    text-align: right;
    position: relative;
}